/*!----RESET----*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "roboto" serif;
	font-size: 15px;
}

/*!----navbar boostrap---*/
.navbar-brand img {
	width: auto;
	height: 70px;
	transition: 0.3sg;

}

.navbar-toggler {
	background-color: white;
}

.navbar-brand img:hover {
	transform: scale(1.2);
}

.nav-colors {
	background-color: black;
}

.nav-item a {
	color: white
}

.nav-item a:hover {
	color: blue;
}

.btn {
	color: white;
	border: white solid 1px;
}

.btn-outline-success:hover {
	color: green;
	background-color: black;

}

.dropdown-menu a {
	color: black;

}

/*!---fin navbar boostrap---*/


/*!----main----*/
.hero {
	background: url(../img/hero2.jpg) fixed center/cover;
	height: 700px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.hero::before {
	content: "";
	height: 100%;
	width: 100%;
	background: #000;
	opacity: 0.8;
}

.hero-info {
	padding: 0.3em;
	position: absolute;
	width: 100%;
	max-width: 700px;
	text-align: center;
	color: white;
	margin: auto;
}

.titulo {
	line-height: 1.5;
	font-size: 2em;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.p-titulo {
	line-height: 2;
	font-size: 0.9;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/*!----productos----*/

.producto {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 80px;
}

.producto div {
	width: 380px;
	text-align: center;
	margin: 20px;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
}

.producto div img {
	width: 100%;
	margin-bottom: 5px;
	border-radius: 20px;
}

.producto a {
	text-decoration: none;
	background-color: white;
	color: black;
	border: #000 solid 1px;
	border-radius: 10px;
	padding: 5px;
}

.producto a:hover {
	background-color: black;
	color: white;
}


/*!---fin productos---*/



/*!---video---*/
.miVideo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.miVideo video {
	width: 100%;
}


/*!---imganes fin----*/


/*!-----fin del main----*/


/*!---- footer ----*/

.flex-container {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	background-color: #000;
	color: white;
}

.primer-item {
	width: 100px;
	height: 100px;
	align-items: center;
}

.primer-item img {
	width: 100%;
}

.segundo-item {

	width: 200px;
	height: 100px;
}

.segundo-item ul li {
	color: white;
	text-decoration: none;
	list-style: none;
}

.tercer-item {

	width: 200px;
	height: 200px;
}

.tercer-item h3 {
	font-size: medium;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tercer-item p {
	font-size: large;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	align-items: center;
}

.cuarto-item {
	color: whitesmoke;
	width: 400px;
	height: 200px;
}

.cuarto-item img {
	width: 80px;
	height: 80px;
	padding: 10px;

}

/*!-----fin del footer----*/

/*!----pagina guia de tallas----*/
.tallas h2 {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 50px;
	font-size: xx-large;
}

.tallas {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.tallas img {
	width: 97%;
}

.talla-mujer {
	display: flex;
	justify-content: center;
}

/*!---fin de guia de tallas---*/

/*!----pagina marca----*/

.titulo2 h2 {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: xx-large;
	margin-top: 50px;
	margin-bottom: 30px;
}


/*---Grids---*/

.grid-catalogo {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 80px;
	display: grid;
	grid-auto-rows: 500px;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	grid-template-areas:
		" esp1 esp4 esp3"
		"esp5 esp6 esp2";
}

.grid-catalogo div {
	position: relative;
}

.grid-catalogo div h2 {
	position: absolute;
	bottom: 0;
	color: white;
	background-color: #0000005e;
	width: 100%;
	padding: 10px;
}

.grid-catalogo div img {
	width: 100%;
	height: 100%;
	object-fit: fill;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.espacio1 {
	grid-area: esp1;
}

.espacio2 {
	grid-area: esp2;
}

.espacio3 {
	grid-area: esp3;
}

.espacio4 {
	grid-area: esp4;
}

.espacio5 {
	grid-area: esp5;
}

.espacio6 {
	grid-area: esp6;
}

/*---fin de grids---*/



/*!----fin de marca----*/

/*!---ofertas----*/
h4 {
	color: red;

}

h5 {
	margin-top: 10px;
	text-decoration: line-through;
}

/*!-----media query-----*/
@media screen and (max-width:1500px) {
	.grid-catalogo {
		width: 90%;
		margin: auto;
		padding: 40px;
		grid-template-columns: repeat(2, 1fr);

		grid-template-areas:
			" esp1 esp4 "
			"esp5 esp3"
			"esp2 esp6"

	}
}

@media screen and (max-width:1050px) {
	.grid-catalogo {
		width: 90%;

		grid-template-columns: repeat(1, 1fr);

		grid-template-areas:
			"esp1 "
			"esp5 "
			"esp2"
			"esp3"
			"esp6"
			"esp4"
	}
}

@media screen and (max-width:655px) {

	/*--footer--*/
	.flex-container h2 {
		color: white;
	}

	.flex-container {
		flex-direction: column;
		align-items: center;

	}

	.cuarto-item img {
		width: 60px;
		height: 60px;
	}

	.cuarto-item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100px;
	}
}