/*!----navbar boostrap---*/
.navbar-brand img {
	width: auto;
	height: 70px;
	transition: 0.3sg;
}
.navbar-toggler {
	background-color: white;
}
.navbar-brand img:hover {
	transform: scale(1.2);
}
.nav-colors {
	background-color: black;
}
.nav-item a {
	color: white
}
.nav-item a:hover {
	color:red;
}
.btn {
	color: white;
	border: white solid 1px;
}
.btn-outline-success:hover {
	color: green;
	background-color: black;
}
.dropdown-menu a {
	color: black;
}

$colores:black,white,blue,red,yellow;


@mixin flex($flex, $justy, $align,$wrap){
	display: $flex;
	justify-content: $justy;
	align-items: $align;
	flex-wrap: $wrap;
}

%margenes-section{
	margin-bottom: 50px;
}

@-webkit-keyframes jackInTheBox {
	from {
	  opacity: 0;
	  -webkit-transform: scale(0.1) rotate(30deg);
	  transform: scale(0.1) rotate(30deg);
	  -webkit-transform-origin: center bottom;
	  transform-origin: center bottom;
	}
  
	50% {
	  -webkit-transform: rotate(-10deg);
	  transform: rotate(-10deg);
	}
  
	70% {
	  -webkit-transform: rotate(3deg);
	  transform: rotate(3deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  
  @keyframes jackInTheBox {
	from {
	  opacity: 0;
	  -webkit-transform: scale(0.1) rotate(30deg);
	  transform: scale(0.1) rotate(30deg);
	  -webkit-transform-origin: center bottom;
	  transform-origin: center bottom;
	}
  
	50% {
	  -webkit-transform: rotate(-10deg);
	  transform: rotate(-10deg);
	}
  
	70% {
	  -webkit-transform: rotate(3deg);
	  transform: rotate(3deg);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  
  .jackInTheBox {
	-webkit-animation-name: jackInTheBox;
	animation-name: jackInTheBox;
  }
  
  .animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }