.spacio1 {
	height: 60px;
	background: rgba(180, 178, 178, 0.253);
}

.envios {
	background: rgba(180, 178, 178, 0.253);
    .envios-info {
        margin-bottom: 1px;
    }
    .titulo5 {
        color: black;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        font-size: 60px;
    }
    .p-titulo5 {
        text-align: justify;
        color: black;
        padding: 100px;
        font-size: 20px;
    }
}




